{extend name="public:base" /}
{block name="css"} 
 <style>
    .layui-upload-img {width: 92px;height: 92px;margin: 0 10px 10px 0;}
</style>
{/block}

{block name="content"}
 <form class="layui-form" action="">

  
  <div class="layui-form-item">
    <label class="layui-form-label">头像</label>
    <div class="layui-input-inline">
        <div class="layui-upload-list">
            <img class="layui-upload-img" src="__PUBLIC__/images/avatar.png" id="img">
            <p id="demoText"></p>
        </div>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码框</label>
    <div class="layui-input-inline">
      <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">密码必须输入6-12个字符</div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">昵称</label>
    <div class="layui-input-block">
      <input type="text" name="nickname" required  lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-block">
      <input type="checkbox" name="cstatus" title="启用"  checked>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">权限选择</label>
    <div class="layui-input-block">
      <select name="roleid" lay-verify="required">
        <option value=""></option>
        {volist name='roles' id='vo'}
        <option value="{$vo.id}">{$vo.rolename}</option> 
        {/volist}
      </select>
    </div>
  </div>   
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="submit">保存新增</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>


{/block} 

{block name="javascript"}
<script>
layui.use(['form','upload', 'layedit','table', 'laydate','element'], function(){
    var form = layui.form,layer = layui.layer,layedit = layui.layedit
    ,laydate = layui.laydate,upload = layui.upload,element = layui.element,table = layui.table;     

    function goback(data){
        if(data.code=='1') window.history.go(-1);
    }

    
    upload.render({
        elem: '#img'
        ,url: '{:url("@admin/login/upload")}'
        ,done: function(res){
            if(res.code == 1){
                $("#img").attr('src',res.data.src); 
            }else{
                parent.$.fn.jcb.alert(res.msg,'error');
            } 
        }
    });
    
    form.on('submit(submit)', function(data){
        data.field.avatar = $('#img').attr('src'); 
		    parent.$.fn.jcb.post("{$config['current_url']}",data.field,false,goback);  
		  return false;
	  }); 

});
</script>
{/block}
